<!DOCTYPE html>
<html class="" lang="en" style="font-size: 62.5%;">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Bantam CSS</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../node_modules/bantam/css/bantam.min.css">
    </head>
    <body class="ff-system">
        <section class="bc-white pt-xl bps-pt-xxl pb-xl bps-pb-xxl clearfix ta-center">
    <div class="width-90 bpm-width-70 bpl-width-50 clearfix horizontallyCenter">
        <div class="grid">
            <div class="col-12 bps-col-6 bpm-col-3">
                <div class="mb-m">
                  <span class="icon--m icon-archive js-icon"></span>
                </div>
                <div class="mb-s">
                    <h4 class="fs-l lh-xxl bps-fs-xxl fw-3">Heading</h4>
                </div>
                <div class="mb-l">
                    <p class="fs-m lh-l">iOS 9 brings key enhancements to the powerful built-in apps you use every day.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m color-blue">Link to something</a>
            </div>
            <div class="col-12 bps-col-6 bpm-col-3">
                <div class="mb-m">
                  <span class="icon--m icon-archive js-icon"></span>
                </div>
                <div class="mb-s">
                    <h4 class="fs-l lh-xxl bps-fs-xxl fw-3">Heading</h4>
                </div>
                <div class="mb-l">
                    <p class="fs-m lh-l">iOS 9 brings key enhancements to the powerful built-in apps you use every day.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m color-blue">Link to something</a>
            </div>
            <div class="col-12 bps-col-6 bpm-col-3">
                <div class="mb-m">
                  <span class="icon--m icon-archive js-icon"></span>
                </div>
                <div class="mb-s">
                    <h4 class="fs-l lh-xxl bps-fs-xxl fw-3">Heading</h4>
                </div>
                <div class="mb-l">
                    <p class="fs-m lh-l">iOS 9 brings key enhancements to the powerful built-in apps you use every day.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m color-blue">Link to something</a>
            </div>
            <div class="col-12 bps-col-6 bpm-col-3">
                <div class="mb-m">
                  <span class="icon--m icon-archive js-icon"></span>
                </div>
                <div class="mb-s">
                    <h4 class="fs-l lh-xxl bps-fs-xxl fw-3">Heading</h4>
                </div>
                <div class="mb-l">
                    <p class="fs-m lh-l">iOS 9 brings key enhancements to the powerful built-in apps you use every day.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m color-blue">Link to something</a>
            </div>
        </div>
    </div>
</section>


        <div>
            <pre class="prettyprint lang-html">
                <code>
                    <section class="bc-white pt-xl bps-pt-xxl pb-xl bps-pb-xxl clearfix ta-center">
    <div class="width-90 bpm-width-70 bpl-width-50 clearfix horizontallyCenter">
        <div class="grid">
            <div class="col-12 bps-col-6 bpm-col-3">
                <div class="mb-m">
                  <span class="icon--m icon-archive js-icon"></span>
                </div>
                <div class="mb-s">
                    <h4 class="fs-l lh-xxl bps-fs-xxl fw-3">Heading</h4>
                </div>
                <div class="mb-l">
                    <p class="fs-m lh-l">iOS 9 brings key enhancements to the powerful built-in apps you use every day.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m color-blue">Link to something</a>
            </div>
            <div class="col-12 bps-col-6 bpm-col-3">
                <div class="mb-m">
                  <span class="icon--m icon-archive js-icon"></span>
                </div>
                <div class="mb-s">
                    <h4 class="fs-l lh-xxl bps-fs-xxl fw-3">Heading</h4>
                </div>
                <div class="mb-l">
                    <p class="fs-m lh-l">iOS 9 brings key enhancements to the powerful built-in apps you use every day.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m color-blue">Link to something</a>
            </div>
            <div class="col-12 bps-col-6 bpm-col-3">
                <div class="mb-m">
                  <span class="icon--m icon-archive js-icon"></span>
                </div>
                <div class="mb-s">
                    <h4 class="fs-l lh-xxl bps-fs-xxl fw-3">Heading</h4>
                </div>
                <div class="mb-l">
                    <p class="fs-m lh-l">iOS 9 brings key enhancements to the powerful built-in apps you use every day.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m color-blue">Link to something</a>
            </div>
            <div class="col-12 bps-col-6 bpm-col-3">
                <div class="mb-m">
                  <span class="icon--m icon-archive js-icon"></span>
                </div>
                <div class="mb-s">
                    <h4 class="fs-l lh-xxl bps-fs-xxl fw-3">Heading</h4>
                </div>
                <div class="mb-l">
                    <p class="fs-m lh-l">iOS 9 brings key enhancements to the powerful built-in apps you use every day.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m color-blue">Link to something</a>
            </div>
        </div>
    </div>
</section>

                </code>
            </pre>
        </div>

        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </body>
</html>
