<section>
  <section class="bc-white pt-xl bps-pt-xxl pb-xl bps-pb-xxl clearfix ta-center">
    <div class="width-90 bpm-width-70 bpl-width-50 clearfix horizontallyCenter">
        <div class="grid">
            <div class="col-12 bps-col-4">
                <div class="mb-m">
                  <span class="icon--m icon-archive js-icon"></span>
                </div>
                <div class="mb-s">
                    <h4 class="fs-l lh-xxl bps-fs-xxl fw-3">Heading</h4>
                </div>
                <div class="mb-l">
                    <p class="fs-m lh-l">iOS 9 brings key enhancements to the powerful built-in apps you use every day. And new multitasking features help make you even more productive.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m color-blue">Link to something</a>
            </div>
            <div class="col-12 bps-col-4">
                <div class="mb-m">
                  <span class="icon--m icon-archive js-icon"></span>
                </div>
                <div class="mb-s">
                    <h4 class="fs-l lh-xxl bps-fs-xxl fw-3">Heading</h4>
                </div>
                <div class="mb-l">
                    <p class="fs-m lh-l">iOS 9 brings key enhancements to the powerful built-in apps you use every day. And new multitasking features help make you even more productive.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m color-blue">Link to something</a>
            </div>
            <div class="col-12 bps-col-4">
                <div class="mb-m">
                  <span class="icon--m icon-archive js-icon"></span>
                </div>
                <div class="mb-s">
                    <h4 class="fs-l lh-xxl bps-fs-xxl fw-3">Heading</h4>
                </div>
                <div class="mb-l">
                    <p class="fs-m lh-l">iOS 9 brings key enhancements to the powerful built-in apps you use every day. And new multitasking features help make you even more productive.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m color-blue">Link to something</a>
            </div>
        </div>
    </div>
</section>

</section>

<code>
  <section class="bc-white pt-xl bps-pt-xxl pb-xl bps-pb-xxl clearfix ta-center">
    <div class="width-90 bpm-width-70 bpl-width-50 clearfix horizontallyCenter">
        <div class="grid">
            <div class="col-12 bps-col-4">
                <div class="mb-m">
                  <span class="icon--m icon-archive js-icon"></span>
                </div>
                <div class="mb-s">
                    <h4 class="fs-l lh-xxl bps-fs-xxl fw-3">Heading</h4>
                </div>
                <div class="mb-l">
                    <p class="fs-m lh-l">iOS 9 brings key enhancements to the powerful built-in apps you use every day. And new multitasking features help make you even more productive.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m color-blue">Link to something</a>
            </div>
            <div class="col-12 bps-col-4">
                <div class="mb-m">
                  <span class="icon--m icon-archive js-icon"></span>
                </div>
                <div class="mb-s">
                    <h4 class="fs-l lh-xxl bps-fs-xxl fw-3">Heading</h4>
                </div>
                <div class="mb-l">
                    <p class="fs-m lh-l">iOS 9 brings key enhancements to the powerful built-in apps you use every day. And new multitasking features help make you even more productive.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m color-blue">Link to something</a>
            </div>
            <div class="col-12 bps-col-4">
                <div class="mb-m">
                  <span class="icon--m icon-archive js-icon"></span>
                </div>
                <div class="mb-s">
                    <h4 class="fs-l lh-xxl bps-fs-xxl fw-3">Heading</h4>
                </div>
                <div class="mb-l">
                    <p class="fs-m lh-l">iOS 9 brings key enhancements to the powerful built-in apps you use every day. And new multitasking features help make you even more productive.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m color-blue">Link to something</a>
            </div>
        </div>
    </div>
</section>

</code>
