<!DOCTYPE html>
<html class="" lang="en" style="font-size: 62.5%;">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Bantam CSS</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../node_modules/bantam/css/bantam.min.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/solarized-light.min.css">
    </head>
    <body class="ff-system">
        <div>
            <%= template %>
        </div>

        <div>
            <pre>
                <code>
<%= template %>
                </code>
            </pre>
        </div>

        <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
